[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
selenium = "==4.4.0"
webdriver-manager = "==3.8.3"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.8"
